* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: auto;
}

.hero {
    grid-column: span 4;
    background: rgb(180, 216, 228);
    padding: 60px;
    text-align: center;
    font-size: 18px;
}

.service,
.elb,
.elc,
.eld,
.ultimo {
    padding: 30px;
    text-align: center;
    font-size: 16px;
}

.service img {
    width: 80%;
    max-width: 250px;
    border-radius: 10px;
    height: auto;
    display: block;
    margin: 15px auto;
}

#triangulo {
    width: 80%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 15px auto;
}

#letra {
    max-width: 30px;
    height: auto;
    margin-right: 10px; /* Agregamos margen derecho */
    display: block;
}

.elb {
    background: rgb(216, 212, 212);
    grid-column: span 4;
    display: flex; /* Usamos flexbox */
    align-items: center; /* Centramos verticalmente */
    text-align: left; /* Alineamos el texto a la izquierda */
}

.elc {
    background: rgb(239, 215, 219);
    grid-column: span 4;
    display: flex; /* Usamos flexbox */
    align-items: center; /* Centramos verticalmente */
    text-align: left; /* Alineamos el texto a la izquierda */
}

.eld {
    background: rgb(245, 231, 234);
    grid-column: span 4;
    display: flex; /* Usamos flexbox */
    align-items: center; /* Centramos verticalmente */
    text-align: left; /* Alineamos el texto a la izquierda */
}

.ultimo {
    background: rgb(116, 116, 248);
    grid-column: span 4;
    padding: 20px;
    text-align: center;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero {
        grid-column: span 2;
        font-size: 16px;
        padding: 40px;
    }

    .service {
        grid-column: span 1;
    }

    .elb,
    .elc,
    .eld,
    .ultimo {
        grid-column: span 2;
    }

    .service p, .service h4,
    .elb p, .elb h4,
    .elc p, .elc h4,
    .eld p, .eld h4 {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .hero,
    .service,
    .elb,
    .elc,
    .eld,
    .ultimo {
        grid-column: span 1;
        font-size: 14px;
        padding: 20px;
    }

    .service img, #triangulo {
        width: 90%;
    }
}